@font-face {
    src: url('../static/fonts/HU-The-Game.ttf');
    font-family: TheGame;
}

body {
    min-height: 95vh;
    position: relative;
}

.mainTitle {
    text-align: center;
    font-size: 100px;
    font-family: TheGame;
    margin: 50px;
}

.mainTitleSmall {
    text-align: center;
    font-size: 70px;
    font-family: TheGame;
    margin: 10px;
}

.centralLogo {
    transition: transform .2s;
    width: 300px;
    height: 300px;
}

.challengersLobby {
    height: auto;
    width: 90vh;    
    margin: 10px;
}

.challenger {
    border-radius: 15px;
    margin: 0.1in;
    width: 95%;
    height: 10vh;
    border: 4px solid black;
}

.newChallenger {
    border-radius: 15px;
    margin: 0.1in;
    width: 95%;
    height: 0.5in;
    background: rgba(153, 27, 27, 0.9);
    align-self: center;
    border: 3px solid rgba(153, 27, 27, 0.9);   
}

.createChallengerPanel {
    position: absolute;
    width: 60%;
    height: 70vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: rgba(10, 27, 27, 1);
    z-index: 1;
    overflow: hidden;
}

.leftSubpanel {
    position: absolute;
    width: 40vh;
    height: 55vh;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
    z-index: 1;
}
.rightSubpanel {
    width: 60vh;
    height: 55vh;
    margin-top: 2%;
    margin-right: 2%;
    background-color: purple;
    z-index: 1;
    float: right;
}

.css-input {
    padding: 4px;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
    text-align: left;
}
.css-input:focus {
    outline:none;
}

.newMonsterStatsButton {
    border-radius: 25px;
    border: 5%;
    width: 40vh;
    height: 15vh;
    background-color: rgba(105, 18, 18, 1);  
    margin: 1vh;
}

.whiteNormalText {
    text-align: center;
    font-size: 40px;
    font-family: TheGame;
    margin: 0.5vh;
    color: white;
}

.smallWhiteNormalText {
    text-align: center;
    font-size: 30px;
    font-family: TheGame;
    margin: 0.5vh;
    color: white;
}

.roundedCorners {
    border-radius: 25px;
    border: 2px;
    width: 100%;
    height: 55vh;
    background-color: rgba(105, 18, 18, 1);  
    align-self: center;
    margin-top: 5%;
}

.roundedButton {
    border-radius: 25px;
    border: 2px;
    width: 2in;
    height: 1in;
    background-color: rgba(105, 18, 18, 1);  
    align-self: center;
}

.scrollable {
    overflow-y: auto;
}

.normalText {
    text-align: center;
    font-size: 40px;
    font-family: TheGame;
    margin: 0.5vh;
}

.challengerStats {
    text-align: center;
    font-size: 3vh;
    font-family: TheGame;
    margin: 2vh;
    width: fit-content;
    height: fit-content;
    display: inline;
}

.challengerStatsButton {
    text-align: center;
    font-size: 3vh;
    font-family: TheGame;
    margin: 2vh;
    width: fit-content;
    height: fit-content;
    display: inline;
}

.mainBackground {
    background: rgba(153, 27, 27, 0.9);
    width: auto;
    height: auto;
}

.arena {
    text-align: center;
    margin: 30px;
    transition: transform .2s;
}

.homepageLinkElement{
    text-align: center;
    font-family: TheGame;
    font-size: 50px;
}

.container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.centered {
    text-align: center;
}

.centeredDiv {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.centeredElements {
    text-align: center;
}

.relativePos {
    position: relative;
}

.absolutePos {
    position: absolute;
}

.hidden {
    display: none;
}

/* Hover animation */

.centralLogo:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.roundedButton:hover {
  border: 4px solid black;
  cursor: pointer;
}

.newChallenger:hover {
    transform: scale(1.01); 
    cursor: pointer;
}

/*custom scrollbar*/
/* width */
.scrollable::-webkit-scrollbar {
    width: 10px;
  }
     
  /* Handle */
  .scrollable::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .scrollable::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  } 

/*higligth*/
.hl {
    background-color: chocolate;
    width: auto;
    height: auto;
}