@font-face {
    src: url('../static/fonts/HU-The-Game.ttf');
    font-family: TheGame;
}

.mainTitle {
    text-align: center;
    font-size: 100px;
    font-family: TheGame;
    margin: 50px;
}

.mainBackground {
    background: rgba(153, 27, 27, 0.9);
}

.arena {
    text-align: center;
    margin: 30px;
}

.homepageLinkElement{
    text-align: center;
    font-family: TheGame;
    font-size: 50px;
}

.centered{
    text-align: center;
}