<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="shortcut icon" href="../static/res/arena .png" type="image/x-icon"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
</head>

<body class="mainBackground">
    <p class="mainTitleSmall">Create the lobby</p>
    <div class="container">
        <div class="challengersLobby left"> 
            <p class="normalText">Monsters</p>
            <div class="roundedCorners scrollable">
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Monster name</p>
                    <p class="challengerStats"> Monster Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="newChallenger">
                    <p class="normalText"> + Create a new monster <span><img src="../static/res/fangs.png" height="40px" width="40px"></span> </p>
                </div>          
            </div>
        </div>
        <div class="challengersLobby right"> 
            <p class="normalText">Heroes</p>
            <div class="roundedCorners scrollable">
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="challenger">
                    <p class="challengerStats"> Hero name</p>
                    <p class="challengerStats"> Hero Class</p>
                    <p class="challengerStats"> Dmg / HP / Dodge%</p>
                </div>
                <div class="newChallenger">
                    <p class="normalText"> + Create a new hero <span><img src="../static/res/piercing-sword.png" height="40px" width="40px"></span> </p>
                </div> 
            </div>
        </div>
    </div>
    <div class="centeredDiv centeredElements">
        <button class="roundedButton normalText">Fight</button>
    </div>
</body>

</html>

