<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../static/res/swords-emblem.png" type="image/x-icon"/>
        <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/-->
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body class="mainBackground">
        <p class="mainTitle" >WELCOME TO THE ARENA !!!</p>
        <div class="arena">
            <img src="../static/res/arena .png" width="500" height="500">
        </div>
    </body>

</html>

