<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../static/res/arena .png" type="image/x-icon"/>
        <!--<link rel="stylesheet" href="static/style.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body class="mainBackground">
        <p class="mainTitle">WELCOME TO THE ARENA !</p>
        <div class="arena">
            <a href = "{{ url_for('create_lobby')}}">
                <img class="centralLogo" src="../static/res/swords-emblem.png" title="Let's Figth !">
            </a>
        </div>
        <div class="centered">
            <p><a href = "{{ url_for('goToInstruction')}}" class="homepageLinkElement">Instruction</a></p>
            <p><a href = "{{ url_for('goToAbout')}}" class="homepageLinkElement">About</a></p>
        </div>
        
        
    </body>

</html>




