<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="shortcut icon" href="../static/res/arena .png" type="image/x-icon"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
</head>

<body class="mainBackground">
    <p class="mainTitleSmall">Create the lobby</p>
        <div class="challengersLobby left"> 
            <p class="normalText">Monsters</p>
            <div class="roundedCorners scrollable">    
                <div><p class="newChallenger normalText centered"> + Create a new monster <span><img src="../static/res/fangs.png" height="50px" width="50px"></span> </p></div>   
            </div>
        </div>
        <div class="challengersLobby right"> 
            <p class="normalText">Heroes</p>
            <div class="roundedCorners scrollable">
                <div><p class="newChallenger normalText centered"> + Create a new hero <span><img src="../static/res/piercing-sword.png" height="50px" width="50px"></span> </p></div>          
            </div>
        </div>
       
</body>

</html>

